parameters:
	ignoreErrors:
		-
			message: '#^Call to method clearAll\(\) on an unknown class Spatie\\RayBundle\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/MailCommand.php

		-
			message: '#^Call to method clearAll\(\) on an unknown class Spatie\\WordPressRay\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/MailCommand.php

		-
			message: '#^Call to method clearAll\(\) on an unknown class Spatie\\YiiRay\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/MailCommand.php

		-
			message: '#^Call to method clearAll\(\) on an unknown class Spatie\\RayBundle\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/PauseCommand.php

		-
			message: '#^Call to method clearAll\(\) on an unknown class Spatie\\WordPressRay\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/PauseCommand.php

		-
			message: '#^Call to method clearAll\(\) on an unknown class Spatie\\YiiRay\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/PauseCommand.php

		-
			message: '#^Call to method confetti\(\) on an unknown class Spatie\\RayBundle\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/PauseCommand.php

		-
			message: '#^Call to method confetti\(\) on an unknown class Spatie\\WordPressRay\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/PauseCommand.php

		-
			message: '#^Call to method confetti\(\) on an unknown class Spatie\\YiiRay\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/PauseCommand.php

		-
			message: '#^Call to method pause\(\) on an unknown class Spatie\\RayBundle\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/PauseCommand.php

		-
			message: '#^Call to method pause\(\) on an unknown class Spatie\\WordPressRay\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/PauseCommand.php

		-
			message: '#^Call to method pause\(\) on an unknown class Spatie\\YiiRay\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/PauseCommand.php

		-
			message: '#^Call to method clearAll\(\) on an unknown class Spatie\\RayBundle\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/PerformanceCommand.php

		-
			message: '#^Call to method clearAll\(\) on an unknown class Spatie\\WordPressRay\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/PerformanceCommand.php

		-
			message: '#^Call to method clearAll\(\) on an unknown class Spatie\\YiiRay\\Ray\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/RayDemo/PerformanceCommand.php

		-
			message: '#^Call to method measure\(\) on an unknown class Spatie\\RayBundle\\Ray\.$#'
			identifier: class.notFound
			count: 3
			path: app/Console/Commands/RayDemo/PerformanceCommand.php

		-
			message: '#^Call to method measure\(\) on an unknown class Spatie\\WordPressRay\\Ray\.$#'
			identifier: class.notFound
			count: 3
			path: app/Console/Commands/RayDemo/PerformanceCommand.php

		-
			message: '#^Call to method measure\(\) on an unknown class Spatie\\YiiRay\\Ray\.$#'
			identifier: class.notFound
			count: 3
			path: app/Console/Commands/RayDemo/PerformanceCommand.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:hasPlayer\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Domain/Game/Actions/RedeemGameInviteLinkAction.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isPending\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Domain/Game/Actions/RedeemGameInviteLinkAction.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:notify\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Domain/Game/Actions/RedeemGameInviteLinkAction.php

		-
			message: '#^Parameter \#1 \$game of method App\\Domain\\Game\\Actions\\JoinGameAction\:\:execute\(\) expects App\\Domain\\Game\\Models\\Game, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Domain/Game/Actions/RedeemGameInviteLinkAction.php

		-
			message: '#^Parameter \#2 \$inviter of class App\\Domain\\User\\Events\\GameInvitationAcceptedEvent constructor expects App\\Domain\\User\\Models\\User, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Domain/Game/Actions/RedeemGameInviteLinkAction.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Domain/Game/Models/Game.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Domain/Game/Models/Game.php

		-
			message: '#^Match expression does not handle remaining value\: mixed$#'
			identifier: match.unhandled
			count: 1
			path: app/Domain/Game/Models/Game.php

		-
			message: '#^Parameter \#1 \$move of method App\\Domain\\Game\\Models\\Game\:\:formatPlayDescription\(\) expects App\\Domain\\Game\\Models\\Move, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Domain/Game/Models/Game.php

		-
			message: '#^Using nullsafe property access "\?\-\>score" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Domain/Game/Models/Game.php

		-
			message: '#^Using nullsafe property access "\?\-\>username" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Domain/Game/Models/Game.php

		-
			message: '#^Parameter \$tiles of class App\\Domain\\Game\\Data\\ValidatedWord constructor expects Illuminate\\Support\\Collection\<int, array\{x\: int, y\: int\}\>, Illuminate\\Support\\Collection\<\(int\|string\), array\{x\: mixed, y\: mixed\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Domain/Game/Support/ValidationService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Domain/Support/Actions/AddWordToDictionaryAction.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Domain/Support/Actions/RejectWordAdditionAction.php

		-
			message: '#^Instanceof between array and NotificationChannels\\Expo\\ExpoError will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Domain/Support/Listeners/HandleFailedExpoNotification.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: app/Domain/Support/Listeners/HandleFailedExpoNotification.php

		-
			message: '#^Method App\\Domain\\User\\Models\\User\:\:getOrCreateStatistics\(\) should return App\\Domain\\User\\Models\\UserStatistics but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Domain/User/Models/User.php

		-
			message: '#^Using nullsafe property access "\?\-\>username" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/Games/Tables/GamesTable.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$tiles\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Resources/Users/Pages/ViewUserGame.php

		-
			message: '#^Property App\\Filament\\Resources\\Users\\Pages\\ViewUserGame\:\:\$game \(App\\Domain\\Game\\Models\\Game\|null\) does not accept Illuminate\\Database\\Eloquent\\Model&object\{pivot\: Illuminate\\Database\\Eloquent\\Relations\\Pivot\}\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Filament/Resources/Users/Pages/ViewUserGame.php

		-
			message: '#^Using nullsafe property access "\?\-\>tiles" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/Users/Pages/ViewUserGame.php

		-
			message: '#^Anonymous function never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Filament/Resources/Users/RelationManagers/GamesRelationManager.php

		-
			message: '#^Parameter \#1 \$user of method App\\Domain\\Game\\Models\\Game\:\:getOpponent\(\) expects App\\Domain\\User\\Models\\User, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 2
			path: app/Filament/Resources/Users/RelationManagers/GamesRelationManager.php

		-
			message: '#^Parameter \#1 \$user of method App\\Domain\\Game\\Models\\Game\:\:getPlayerScore\(\) expects App\\Domain\\User\\Models\\User, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/Users/RelationManagers/GamesRelationManager.php

		-
			message: '#^Parameter \#1 \$user of method App\\Domain\\Game\\Models\\Game\:\:isCurrentTurn\(\) expects App\\Domain\\User\\Models\\User, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 3
			path: app/Filament/Resources/Users/RelationManagers/GamesRelationManager.php

		-
			message: '#^Parameter \#1 \$user of method App\\Domain\\Game\\Models\\Game\:\:isWinner\(\) expects App\\Domain\\User\\Models\\User, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/Users/RelationManagers/GamesRelationManager.php

		-
			message: '#^Using nullsafe property access "\?\-\>username" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/Users/RelationManagers/GamesRelationManager.php

		-
			message: '#^Call to function abort_unless\(\) with bool and 422 will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Http/Controllers/Api/Dictionary/AddWordController.php

		-
			message: '#^Call to function abort_unless\(\) with bool and 422 will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Http/Controllers/Api/Dictionary/RejectWordController.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\EloHistoryResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/EloHistoryResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\EloHistoryResource\:\:\$elo_after\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/EloHistoryResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\EloHistoryResource\:\:\$elo_before\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/EloHistoryResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\EloHistoryResource\:\:\$elo_change\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/EloHistoryResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\EloHistoryResource\:\:\$game\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/EloHistoryResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\FriendResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/FriendResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\FriendResource\:\:\$friend\.$#'
			identifier: property.notFound
			count: 5
			path: app/Http/Resources/FriendResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\FriendResource\:\:\$ulid\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/FriendResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameInvitationResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameInvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameInvitationResource\:\:\$game\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/GameInvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameInvitationResource\:\:\$invitee\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameInvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameInvitationResource\:\:\$inviter\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameInvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameInvitationResource\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameInvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameInvitationResource\:\:\$ulid\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameInvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameInviteLinkResource\:\:\$code\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameInviteLinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameInviteLinkResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameInviteLinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameInviteLinkResource\:\:\$game\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/GameInviteLinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameInviteLinkResource\:\:\$inviter\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Resources/GameInviteLinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameInviteLinkResource\:\:\$ulid\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameInviteLinkResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\GameInviteLinkResource\:\:getUrl\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/GameInviteLinkResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\GameInviteLinkResource\:\:isUsed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/GameInviteLinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameResource\:\:\$board_state\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameResource\:\:\$currentTurnUser\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameResource\:\:\$current_turn_user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameResource\:\:\$gamePlayers\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameResource\:\:\$is_public\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameResource\:\:\$language\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameResource\:\:\$latestMove\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameResource\:\:\$max_players\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameResource\:\:\$pendingInvitation\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameResource\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameResource\:\:\$ulid\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\GameResource\:\:\$winner\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/GameResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>rack_tiles" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/GameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\HeadToHeadResource\:\:\$average_score_difference\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/HeadToHeadResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\HeadToHeadResource\:\:\$best_word\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/HeadToHeadResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\HeadToHeadResource\:\:\$best_word_score\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/HeadToHeadResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\HeadToHeadResource\:\:\$draws\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/HeadToHeadResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\HeadToHeadResource\:\:\$losses\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/HeadToHeadResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\HeadToHeadResource\:\:\$opponent\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Resources/HeadToHeadResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\HeadToHeadResource\:\:\$total_games\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/HeadToHeadResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\HeadToHeadResource\:\:\$win_rate\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/HeadToHeadResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\HeadToHeadResource\:\:\$wins\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/HeadToHeadResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LeaderboardResource\:\:\$wins_in_period\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LeaderboardResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MoveHistoryResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MoveHistoryResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MoveHistoryResource\:\:\$score\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MoveHistoryResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MoveHistoryResource\:\:\$score_breakdown\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MoveHistoryResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MoveHistoryResource\:\:\$tiles\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MoveHistoryResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MoveHistoryResource\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MoveHistoryResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MoveHistoryResource\:\:\$ulid\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MoveHistoryResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MoveHistoryResource\:\:\$user\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Resources/MoveHistoryResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MoveHistoryResource\:\:\$words\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MoveHistoryResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MoveResource\:\:\$score\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/MoveResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MoveResource\:\:\$type\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/MoveResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MoveResource\:\:\$ulid\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MoveResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MoveResource\:\:\$words\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/MoveResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicGameResource\:\:\$board_template\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PublicGameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicGameResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PublicGameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicGameResource\:\:\$language\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PublicGameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicGameResource\:\:\$players\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PublicGameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicGameResource\:\:\$ulid\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PublicGameResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserPublicResource\:\:\$win_rate\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserPublicResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\WordInfoResource\:\:\$last_played_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/WordInfoResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\WordInfoResource\:\:\$times_played\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/WordInfoResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\WordInfoResource\:\:\$word\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/WordInfoResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\WordInfoResource\:\:getDefinitionData\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/WordInfoResource.php
